<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doctorHome</title>
    <link rel="stylesheet" href="/styleDoctorHome.css" />
    

</head>
<body>
    <img src="/a2.png" class="login__img" />
    <div class="container doctorDetails">
    <h1>Welcome, <%= doctor.name %></h1>
    <p>E-mail: <%= doctor.email %></p>
    <p>Phone number: <%= doctor.phone_no %></p>
    <p>Speciality: <%= doctor.speciality %></p>
    <p>Reg_ID: <%= doctor.reg_id %></p>

    <form action="/addTimeSlot" method="post">
        <input type="hidden" name="doctorId" value="<%= doctor.reg_id %>">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime" required>
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" name="endTime" required>
        <button type="submit">Add Time Slot</button>
    </form>
    <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-danger">
            <p><%= message %></p>
        </div>
    <% } %><br>
    </div>
</body>
</html>