<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doctorHome</title>
</head>
<body>
    <h1>Welcome, <%= doctor.name %></h1>
    <p>E-mail: <%= doctor.email %></p>
    <p>Phone number: <%= doctor.phone_no %></p>
    <p>Speciality: <%= doctor.speciality %></p>

    <form action="/doctorHome" method="post">
        <input type="hidden" name="doctorId" value="<%= doctor._id %>">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime" required>
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" name="endTime" required>
        <button type="submit">Add Time Slot</button>
    </form> -->

     
</body>
</html>